footer{
    position: fixed;
    bottom: 0;
    background-color:black;
    width: 100%;
    padding: 0.2cm;
}
.line{
    width: 190px;
}
hr{
    visibility: hidden;
    border: 1px solid #191970;
}
.icon{
    margin-right: .1cm;
}
.adInfo p{
    text-align: center;
    color:#191970;
    margin-bottom: .1cm;
    font-weight: 700;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 15px;
}
.complaintsLink{
    text-align: center;
    color:#191970;
    margin-bottom: .1cm;
    font-weight: 700;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 15px;
}

/* (360px-414px) iphone-xr iphone-se iphone-12pro pixel-5 samsung-s8+ */
@media screen and (max-width:414px){
    .adInfo p{
        font-size: 12px;
        margin-bottom: 2px;
    }
    .line{
        width: 120px;
    }
    hr{
        visibility: visible;
    }
}