.homePage{
    background-color: rgb(109, 109, 2);
}
.weapons{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
h1{
    text-align: center;
    font-size: 25px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding: 20px;
}
h2{
    font-family: 'Mukta', sans-serif;
}
/* .card p{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    width: auto;
    height: 80px;
} */
.card{
    width: 300px;
    text-align: center;
    box-shadow:0 0 5px black;
    padding: 10px;
    background-color: #556b2f;
    border-radius: 10px;
}
.weaponImg{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-bottom: 10px;
}
.btnBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.btn{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(109, 109, 2);
    box-shadow:0 0 5px black;
}
.learnMore{
    padding: 5px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-decoration:none;
    color: #191970;
    font-weight: 700;
}

/* @media screen and (max-width:1280px){
    .weaponImg{
        width: 200px;
        height: 200px;
    }
    .weapons{
        display:flex;
    }
} */