:root{
    --mainColor:#556b2f;
}
header{
    background-color: var(--mainColor);
    box-shadow: 0 2px 20px #556b2f;
}
.container{
    width: 95%;
    margin:0 auto;
    max-width: 1800px;
}
.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100%;
    padding: 0.2cm;
}
.list{
    display: flex;
}
.not-active-item{
    margin-left: 150px;
    margin-right: 150px;
    color:#191970;
    text-decoration:none;
    font-size: 0.8cm;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 700;
}
.active-item{
    margin-left: 150px;
    margin-right: 150px;
    color:#ffd700;
    font-size: 0.8cm;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 700;
    border-bottom: .2cm;
}
.icon{
    color:#191970;
    font-size: 0.8cm !important;
    margin-right: 0.5cm;
    margin-left: 0.5cm
}
.not-active-item:hover{
    transform: scale(1.05);
}
.active-item:hover{
    transform: scale(1.05);
}
.icon:hover{
    transform: scale(1.05);
}

/* nest-hub-max nest-hub */
@media screen and (max-width:1280px){
    .not-active-item{
        font-size: 0.7cm;
        margin-left: 100px;
        margin-right: 100px;
    }
    .active-item{
        font-size: 0.7cm;
        margin-left: 100px;
        margin-right: 100px;
    }
    .icon{
        font-size: 0.7cm !important;
    }
}

/* ipad-air ipad-mini surface-pro7 */
@media screen and (max-width:912px){
    .not-active-item{
        font-size: 0.6cm;
        margin-left: 50px;
        margin-right: 50px;
    }
    .active-item{
        font-size: 0.6cm;
        margin-left: 50px;
        margin-right: 50px;
    }
    .icon{
        font-size: 0.7cm !important;
    }
}

/* surface-duo */
@media screen and (max-width:540px){
    .not-active-item{
        font-size: 0.5cm;
        margin-left: 30px;
        margin-right: 30px;
    }
    .active-item{
        font-size: 0.5cm;
        margin-left: 30px;
        margin-right: 30px;
    }
    .icon{
        font-size: 0.5cm !important;
    }
    .logo{
        width: 90%;
    }
}

/* (360px-414px) iphone-xr iphone-se iphone-12pro pixel-5 samsung-s8+ */
/* rigt border is not colored on samsung-s20ultra samsung-a51/71 ? (412px) */
@media screen and (max-width:414px){
    .logo{
        width: 80%;
    }
    .container-flex{
        flex-direction: column;
    }
    .list{
        flex-direction: column;
    }
    .not-active-item{
        font-size: 0.5cm;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .active-item{
        font-size: 0.5cm;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .icon{
        font-size: 0.5cm !important;
        margin-left: 0;
        margin-right: 0;
    }
}